<nav class="navbar" style="background-color: green;">
  <div class="container d-flex justify-content-center align-items-center">
    <a class="navbar-brand" href="http://localhost:3000/">
      <i class="fa-solid fa-cart-shopping fa-xl" style="color: #f7f7f7;"></i>
    </a>
  </div>
</nav>
